# For local testing with the Firebase Emulator Suite
VITE_FOG_FUNCTION_URL=http://127.0.0.1:5001/swe-fog-latency-optimization/us-central1/processOnFog
VITE_CLOUD_FUNCTION_URL=http://127.0.0.1:5001/swe-fog-latency-optimization/us-central1/processOnCloud

# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyAzi8DED5WbwVaGToSd5ZxMx4btP5oUcLY
VITE_FIREBASE_AUTH_DOMAIN=swe-fog-latency-optimization.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=swe-fog-latency-optimization
VITE_FIREBASE_STORAGE_BUCKET=swe-fog-latency-optimization.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=702224469157
VITE_FIREBASE_APP_ID=1:702224469157:web:d8530ce92499dd125d514c
